<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="org.omnirom.omnijaws"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission android:name="org.omnirom.omnijaws.READ_WEATHER" />
    <uses-permission android:name="org.omnirom.omnijaws.READ_WEATHER" />

    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:icon="@drawable/omnirom_logo" >

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SubSettingsBase" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivityService"
            android:exported="true"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SubSettingsBase" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".WeatherService"
            android:exported="true" />

        <provider
            android:name=".WeatherContentProvider"
            android:authorities="org.omnirom.omnijaws.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="org.omnirom.omnijaws.READ_WEATHER" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <receiver android:name=".SystemReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- name is used a prefix +"_" for images e.g. weather_<condition_id>
             weather_foo_<condition_id> -->
        <activity android:name=".google"
                android:label="Google" >
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".weatherclient"
                android:label="Weather Client" >
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".outline"
                android:label="Outline" android:exported="false">
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
			android:name=".weather"
			android:label="LockClock (white)" android:exported="false">
			<intent-filter>
				<action android:name="org.omnirom.WeatherIconPack" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <activity
			android:name=".weather_color"
			android:label="LockClock (color)" android:exported="false">
			<intent-filter>
				<action android:name="org.omnirom.WeatherIconPack" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".weather_vclouds"
			android:label="LockClock (vclouds)" android:exported="false">
			<intent-filter>
				<action android:name="org.omnirom.WeatherIconPack" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        
        <activity 
            android:label="Stickers" 
            android:name="org.omnirom.omnijaws.stickers" 
            android:exported="false">
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:label="Marshmallow"
            android:name="org.omnirom.omnijaws.marshmallow"
            android:exported="false">
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:label="Color Hand"
            android:name="org.omnirom.omnijaws.icons8_color_hand"
            android:exported="false">
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.WeatherAppWidgetProvider"
            android:label="@string/weather_widget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="org.omnirom.omnijaws.WEATHER_UPDATE" />
                <action android:name="org.omnirom.omnijaws.WEATHER_ERROR" />
                <action android:name="org.omnirom.omnijaws.widget.WEATHER_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget" />
        </receiver>

        <activity
            android:name=".widget.WeatherAppWidgetConfigure"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
